/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Company]
      ,[MenuID]
      ,[MenuDesc]
      ,[ParentMenuID]
      ,[Sequence]
      ,[OptionType]
      ,[OptionSubType]
      ,[Program]
      ,[Enabled]
      ,[SecCode]
      ,[DoNotDisplayInMenu]
      ,[Arguments]
      ,[Module]
      ,[MenuType]
      ,[CGCCode]
      ,[DashboardID]
      ,[ExpressAvailable]
      ,[SystemCode]
      ,[OldProgram]
      ,[Comment]
      ,[Status]
      ,[CRMMenu]
      ,[SystemFlag]
      ,[SysRevID]
      ,[SysRowID]
      ,[SaaSParam]
  FROM [Production].[Ice].[Menu]
  order by MenuDesc